body {
    font-family: 'Lato', Verdana;
    font-size: 100%;
    background: #fff;
  }
  .wrap
  {
    margin: 0 auto;
    width: 50%;  /* отступы относительно окна браузера */
  }
  .header{
    padding: 1.3em 0em; /* поля вокруг текста */
  }
  .logo{
    float: left; /* обтекание логотипа */
  }
  .logo a {
    display: block; /* переопределение в блочный  */
  }
  .nav {
    float: right;   /* обтекание логотипа */
    margin-top: 0.82em;
  }
  .nav > ul > li {
    display:inline-block;  /* переопределение в строчно-блочный  */
  }
  .nav > ul > li.active a{
    background: #d0a5a5;
    color: #ffffff;
  }
  .nav > ul > li > a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: #444;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
  }
  .nav > ul > li > a:hover {
    color: #fff;
    background: #d0a5a5;
  }
  img {
    font-weight: 200px;
    height: 200px;
  }
 
  .about{
    color:#fff;
    background-color: #a87a7a; /* коричневый фон секции "Обо мне"  */
    text-align:center; /* позиционирование текста */
    padding: 5em 0em; /* отступы для текста */
   }
    .wrap_about{
    width: 90%; /* занимаемая ширина блоков по отношению к браузеру */
    margin: 0 auto; /* расположение секций по центру */
   }
  .about h2{
      font-size:2em;
      padding-bottom: 0.5em; /* отступ снизу для заголовка */
   }
  .about p{
    font-size:1em;
    padding-bottom: 4em; /* отступ снизу для параграфа */
   }
  .grid{
    width: 30%; /* ширина белого блока */
    float: left; /* выстраивание в ряд трех белых блоков */
    background-color: #fff; /* цвет блока */
    margin: 0 1.5% 0 1.5%; /* отступы для белых блоков */
    border: 1px solid black;
    min-height: 508px; /* минимальная высота белых блоков */
   }
  .grid  h3{ /* цвет,размер и верхний отступ для заголовка белого блока */
    color: #292828;
    font-size: 1.4em;
    margin-top: 15px;
   }
  .grid  p { /* значения свойств для параграфа белого блока */
    color: #444444;
    font-size: 1.02em;
    text-align: left;
    padding: 1em 1em 2em 1em;
    line-height: 1.9em;
   }
  .clear{clear:both;} /* отмена float */
  

  #contact {
	background-color: #ebebeb;
}
#contact h2{
	color:#444444;
	font-size:2em;
	padding: 2em 0em 0.7em 0em;
	text-align: center;
}
#contact h4{
	color:#444;
	font-size:1em;
	text-align: center;
}
#contact h5{
	color:#444;
	font-size:1em;
	padding-bottom: 2em;
}
.wrap_contact
{
	width: 87%;
	margin: 0 auto;
}

.col{
	display: block;
	float:left;
	margin: 4% 0 4% 1.6%;
	}
.col:first-child{
	margin-left:0; /* прижатие блока с формой к левому краю */
}	
.span_2_of_3 {
	width: 66.1%; /* ширина блока с формой */
	}
.span_1_of_3 {
	width: 32.2%; /* ширина блока с информацией */
	}
.contact-form{
	padding-bottom:30px;
	}
.contact-form div{
	padding:5px 0 15px;
}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
	padding: 15px;
	display: block;
	width: 41%;
	background:#fff;
	outline: none;
	color:#888282;
	font-size: 0.8125em;
	-webkit-appearance: none;
	float:left;
	margin-right: 2em;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	border: 2px solid #cacaca;
}
.contact-form input[type="email"]
{
	margin-right: 0em;
}
.contact-form textarea{
	padding: 18px;
	display: block;
	width: 94%;
	height:180px;
	background:#fff;
	outline: none;
	color:#888282;
	font-size: 0.8125em;
	font-style: italic;
	border:2px solid #cacaca;
	margin-bottom: 2em;
	}

.contact-form form input[type="submit"] 
{
	font-family: 'Lato', sans-serif;
	color:#fff;
	padding: 0.8em 1.5em;
	background: #a97b7b;
	border:none;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	font-size: 1em;
	outline: none;
	text-transform: uppercase;
	float: right;
	margin-right: 2%;	
}
.company_address p {
	color:#525252;
	font-size:0.8125em;
	line-height: 1.8em;
	margin-bottom: 2%;
}
.company_address a{
	color:#525252;
	font-size:1.1em;
	line-height: 1.8em;
	margin-bottom: 2%;
}
.list3 li img
{
	float:left;
	margin-top: 4px;
}
.list3 li .extra-wrap
{
	float:left;
	padding-left: 1em;
}
.clear{clear:both;} /* отмена float */

/*--footer--*/
footer {
	padding: 25px 0;
	background: #303441;
	}
.copy  {
	color: #666d89;
	font-size: 0.8125em;
	line-height: 1.8em;
	text-align: center;
	}
.copy a {
	color: #eee;
}
.copy a:hover {
	color: #a97b7b;
}

.grid1{
    width: 46%; /* ширина белого блока */
    float: left; /* выстраивание в ряд трех белых блоков */
    background-color: #fff; /* цвет блока */
    margin: 0 1.5% 0 1.5%; /* отступы для белых блоков */
    border: 1px solid black;
    min-height: 850px; /* минимальная высота белых блоков */
   }
   .grid1  p { /* значения свойств для параграфа белого блока */
    color: #444444;
    font-size: 1.02em;
    text-align: left;
    padding: 1em 1em 2em 1em;
    line-height: 1.9em;
	text-align: justify;
   }

   .grid1  h3{ /* цвет,размер и верхний отступ для заголовка белого блока */
    color: #292828;
    font-size: 1.4em;
    margin-top: 15px;
   }
   .grid1 img{
	width: 560px;
	 height: 415px;


   }
   .social-icons-7 {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;      
}
.social-icons-7 a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 26px;
    overflow: hidden;
    position: relative;
    color: #337AB7;
    border: 2px solid #337AB7;
    transition: border-radius 0.2s linear 0s;
    transform: rotate(45deg);
}
.social-icons-7 a:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #337AB7;
}
.social-icons-7 a i,
.social-icons-7 a img {
    transition: transform 0.2s linear 0s;
    transform: rotate(-45deg);
    position: relative;
    z-index: 1;          
}
.social-icons-7 a img {
    width: 26px;
    height: 26px;
}
.social-icons-7 a:hover {
    border-radius: 0px;
    width: 50px;
    height: 50px;
    color: #FFF;
    margin: 5px 11px
}
.social-icons-7 a:hover:after {
    top: 0;
    transition: all 0.2s linear 0s;
}